@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=PT+Serif+Caption:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (min-width: 1200px) {
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CUSTOM CSS HERE */

:root {
  --MAIN-BACKGROUND: #fff;
  --MAIN-FONTCOLOR: #333;
  --FOOTER-BACKGROUND: #1f1f1f;
  --FOOTER-FONTCOLOR: #fff;
  --BORDER-COLOR: #dfdfdf;
  --LINK-HOVER: #5c5c5c;
  --LINK-ACTIVE: #333;
  --HIGHTLIGHT-PINK: #99087a;
  --HIGHTLIGHT-YELLOW: #eeb200;
  --HIGHTLIGHT-BLUE: #074d9d;
  --HIGHTLIGHT-PURPLE: #415bc2;
  --HIGHTLIGHT-ORANGE: #bc893b;
  --FONT: "DM Sans";
  --FONT-CN: "DM Mono";
}

html * {
  font-family: var(--FONT);
  box-sizing: border-box;
  background-color: var(--MAIN-BACKGROUND);
}

header {
  display: flex;
  position: fixed;
  height: 70px;
  width: 100%;
  color: var(--MAIN-FONTCOLOR);
  background-color: var(--MAIN-BACKGROUND);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  z-index: 10;
}

header .name {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 5px;
}

#nav-about {
  text-decoration: underline;
}

.navbar {
  position: fixed;
  right: 50px;
  list-style-type: none;
  padding-top: 10px;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}
.navbar li a {
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 400ms;
  padding: 5px;
}

.line {
  z-index: 10;
  position: fixed;
  top: 70px;
  background-color: var(--BORDER-COLOR);
  color: transparent;
  height: 2px;
  width: 100vw;
  margin: 0 auto;
}

section {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--MAIN-FONTCOLOR);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 87.33333333%;
  max-width: 1000px;
  background: var(--MAIN-BACKGROUND);
  margin: 0 auto 1rem auto;
  border-bottom: 2px var(--BORDER-COLOR) solid;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

section:last-child {
  border-bottom: none;
}

main a {
  text-decoration: underline;
}

.self-intro {
  line-height: 1.35em;
  letter-spacing: 0.5px;
  margin-right: 50px;
}

.self-intro p {
  margin-bottom: 20px;
}

.profile-image {
  text-align: left;
}
.profile-image img {
  width: 100%;
}

.profile-image .contact {
  display: flex;
  padding-top: 10px;
  list-style-type: none;
  justify-content: space-around;
}

.profile-image .contact li {
  display: inline-block;
  margin-right: 10px;
}
.profile-image .contact li a {
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.6em;
  transition: opacity 400ms;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  background-color: var(--FOOTER-BACKGROUND);
  color: var(--FOOTER-FONTCOLOR);
}

footer .pattent {
  letter-spacing: 5px;
  padding-top: 26px;
  padding-left: 50px;
  background-color: var(--FOOTER-BACKGROUND);
  font-size: 0.9em;
}

footer .contact {
  position: relative;
  right: 50px;
  padding-top: 25px;
  list-style-type: none;
  background-color: var(--FOOTER-BACKGROUND);
  color: var(--FOOTER-FONTCOLOR);
}

footer .contact li {
  display: inline-block;
  margin-right: 10px;
  color: var(--FOOTER-FONTCOLOR);
  background-color: var(--FOOTER-BACKGROUND);
}
footer .contact li a {
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 0.8em;
  transition: opacity 400ms;
  color: var(--FOOTER-FONTCOLOR);
  background-color: var(--FOOTER-BACKGROUND);
}

a:hover {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

.col1 {
  width: 5.5%;
  padding: 1rem;
}

.col2 {
  width: calc((5.5% * 2) + 0.8333333333%);
  padding: 1rem;
}

.col3 {
  width: calc((5.5% * 3) + (0.8333333333% * 2));
  padding: 1rem;
}

.col4 {
  width: calc((5.5% * 4) + (0.8333333333% * 3));
  padding: 1rem;
}

.col5 {
  width: calc((5.5% * 5) + (0.8333333333% * 4));
  padding: 1rem;
}

.col6 {
  width: calc((5.5% * 6) + (0.8333333333% * 5));
  padding: 1rem;
}
.col7 {
  width: calc((5.5% * 7) + (0.8333333333% * 6));
  padding: 1rem;
}
.col8 {
  width: calc((5.5% * 8) + (0.8333333333% * 7));
  padding: 1rem;
}
.col9 {
  width: calc((5.5% * 9) + (0.8333333333% * 8));
  padding: 1rem;
}
.col10 {
  width: calc((5.5% * 10) + (0.8333333333% * 9));
  padding: 1rem;
}
.col11 {
  width: calc((5.5% * 11) + (0.8333333333% * 10));
  padding: 1rem;
}
.col12 {
  width: calc((5.5% * 12) + (0.8333333333% * 11));
  padding: 1rem;
}
.col13 {
  width: calc((5.5% * 13) + (0.8333333333% * 12));
  padding: 1rem;
}
.col14 {
  width: calc((5.5% * 14) + (0.8333333333% * 13));
  padding: 1rem;
}
.col15 {
  width: calc((5.5% * 15) + (0.8333333333% * 14));
  padding: 1rem;
}
.col16 {
  width: calc((5.5% * 16) + (0.8333333333% * 15));
  padding: 1rem 0;
}

span {
  background-color: inherit;
  color: inherit;
}

/* Work Section Styles */

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.35em;
  width: 100%;
  transition: filter 0.3s ease;
  filter: grayscale(100%);
}

.project:hover {
  filter: grayscale(0);
}

.project-description {
  flex-basis: 50%;
}

.project-image {
  flex-basis: 50%;
  text-align: right;
  margin-top: 60px;
}

.project-image img {
  max-width: 80%;
  object-fit: cover;
  width: auto;
  height: auto;
}

.project-meta {
  font-style: italic;
  color: var(--LINK-HOVER);
  margin-bottom: 1em;
}

h2 {
  margin: 20px 0px;
  color: var(--MAIN-FONTCOLOR);
  font-size: 1.6em;
  line-height: 1.3em;
}

.custom-cursor {
  cursor: url("./image/K-light.png"), auto;
}

#bullet {
  display: flex;
  padding: 0;
  color: var(--MAIN-FONTCOLOR);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 76%;
  max-width: 1000px;
  background: var(--MAIN-BACKGROUND);
  margin: 0 auto 1rem auto;
}

.bullet-column h3 {
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--MAIN-FONTCOLOR);
  text-transform: uppercase;
  font-weight: 500;
}

.bullet-column ul {
  list-style: circle;
  padding: 0;
  margin: 0;
}

.bullet-column ul li {
  margin-bottom: 10px;
  margin-left: 16px;
  font-size: 1em;
  line-height: 1.4em;
  color: var(--MAIN-FONTCOLOR);
}

#description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.35em;
  padding-top: 120px;
}

#meta-data {
  border: none;
}

#meta-data .col4 {
  padding: 1em 2em;
  line-height: 1.5em;
}

.highlight-pink {
  color: var(--HIGHTLIGHT-PINK);
  font-weight: 800;
}

.highlight-purple {
  color: var(--HIGHTLIGHT-PURPLE);
  font-weight: 800;
}

.highlight-blue {
  color: var(--HIGHTLIGHT-BLUE);
  font-weight: 800;
}

.highlight-yellow {
  color: var(--HIGHTLIGHT-YELLOW);
  font-weight: 800;
}

.highlight-orange {
  color: var(--HIGHTLIGHT-ORANGE);
  font-weight: 800;
}

.italic-yellow {
  color: var(--HIGHTLIGHT-YELLOW);
  font-weight: 500;
  font-style: italic;
}

.overview-pic {
  width: 100%;
  height: auto;
}

.h1bold {
  font-size: 2em;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#overview {
  margin-top: 20px;
}

h1 {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

p {
  line-height: 1.45em;
  margin-bottom: 10px;
}

.title-pink {
  font-size: 2em;
  padding-bottom: 20px;
  padding-top: 40px;
  color: var(--HIGHTLIGHT-PINK);
  font-weight: 700;
}

.title-purple {
  font-size: 1.8em;
  padding-bottom: 20px;
  padding-top: 40px;
  color: var(--HIGHTLIGHT-PURPLE);
  font-weight: 700;
}

.title-blue {
  font-size: 1.8em;
  padding-bottom: 20px;
  padding-top: 40px;
  color: var(--HIGHTLIGHT-BLUE);
  font-weight: 700;
}

.title-yellow {
  font-size: 1.8em;
  padding-bottom: 20px;
  padding-top: 40px;
  color: var(--HIGHTLIGHT-YELLOW);
  font-weight: 700;
}

.title-orange {
  font-size: 1.8em;
  padding-bottom: 20px;
  padding-top: 40px;
  color: var(--HIGHTLIGHT-ORANGE);
  font-weight: 700;
}

.descriptive-block {
  width: 100%;
  line-height: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
}

.subtitle {
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 10px;
  display: block;
}

code {
  font: "DM Mono", monospace;
  line-height: 1.2em;
  height: 300px;
  background-color: transparent;
  color: var(--MAIN-FONTCOLOR);
}

.image-plus {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: 0;
}

.image-plus img {
  padding: 0;
  margin: 0;
  object-fit: cover;
  height: auto;
}

.img-gif img {
  cursor: pointer;
}

.plus-description-left {
  padding-left: 0;
  margin-left: 0;
  align-self: center;
}

.plus-description-right {
  padding-left: 30px;
}

.plus-description .descriptive-block {
  padding-top: 0;
  margin-top: 0;
}

.paddingtop20 {
  padding-top: 20px;
}

.paddingside30 {
  padding-right: 30px !important;
}

.paddingtop30 {
  padding-top: 30px;
}

.paddingtop40 {
  padding-top: 40px;
}

.fit-cover {
  object-fit: cover;
  height: auto;
  transform: translateX(34.6%);
}

.role-list {
  list-style: none;
  padding-left: 0;
}

.role-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 1.2em;
}

.role-list li::before {
  content: "";
  position: absolute;
  left: 0em;
  top: 0.3em;
  height: 6px;
  width: 6px;
  background-color: var(--HIGHTLIGHT-BLUE); /* Your desired dot color */
  border-radius: 50%; /* Make it round */
}

.role-list-yellow {
  list-style: none;
  padding-left: 0;
}

.role-list-yellow li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 1.2em;
}

.role-list-yellow li::before {
  content: "";
  position: absolute;
  left: 0em;
  top: 0.3em;
  height: 6px;
  width: 6px;
  background-color: var(--HIGHTLIGHT-YELLOW); /* Your desired dot color */
  border-radius: 50%; /* Make it round */
}

.role-list-purple {
  list-style: none;
  padding-left: 0;
}

.role-list-purple li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 1.2em;
}

.role-list-purple li::before {
  content: "";
  position: absolute;
  left: 0em;
  top: 0.3em;
  height: 6px;
  width: 6px;
  background-color: var(--HIGHTLIGHT-PURPLE); /* Your desired dot color */
  border-radius: 50%; /* Make it round */
}

.noborder {
  border-bottom: 0px !important;
}

.new-title {
  padding-top: 50px;
}

.gif-show img {
  padding-top: 30px;
}

#highlight {
  font-weight: bolder;
}

#table-of-contents {
  padding: 40px;
  background-color: var(--MAIN-BACKGROUND);
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 5px;
  position: fixed;
  top: 100px;
  right: 0px;
  width: 400px;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(100% - 20px));
}

#table-of-contents:hover {
  transform: translateX(0);
}

#table-of-contents h2 {
  margin-top: 0;
  color: var(--MAIN-FONTCOLOR);
  width: 100%;
}

#table-of-contents ol {
  padding-left: 5px;
}

#table-of-contents li {
  margin-bottom: 10px;
  line-height: 1.2em;
}

#table-of-contents a {
  color: var(--LINK-ACTIVE);
  text-decoration: none;
}

#table-of-contents a:hover {
  text-decoration: underline;
}

#table-of-contents .active {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}

@media screen and (max-width: 1600px) {
  #table-of-contents {
    transform: translateX(calc(100% - 40px));
  }

  #table-of-contents:hover {
    transform: translateX(0);
  }
}

@media screen and (max-width: 680px) {
  .bullet-container {
    flex-direction: column;
    align-items: center;
  }

  .bullet-column {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* USER COLOR THEME  */
/* when the user prefers dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --MAIN-BACKGROUND: #1f1f1f;
    --MAIN-FONTCOLOR: #ffffff;
    --FOOTER-BACKGROUND: #ffffff;
    --FOOTER-FONTCOLOR: #000000;
    --BORDER-COLOR: #373737;
    --LINK-HOVER: #cfcdcd;
    --LINK-ACTIVE: #fff;
    --HIGHTLIGHT-PINK: #f1c2e6;
    --HIGHTLIGHT-BLUE: #9fcdff;
    --HIGHTLIGHT-YELLOW: #e1c87e;
    --HIGHTLIGHT-PURPLE: #cecfff;
    --HIGHTLIGHT-ORANGE: #cbbaa1;
  }

  .custom-cursor {
    cursor: url("./image/K-dark.png"), auto;
  }
}

/* when the user prefers dark theme */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 860px) {
  .project {
    filter: none;
  }
  .col4 {
    width: 50%;
  }
  .profile-image .contact {
    display: none;
    color: transparent;
  }
  footer .contact li a {
    letter-spacing: 1px;
    font-size: 0.6em;
  }
  footer .contact li {
    margin-right: 5px;
  }
  .self-intro {
    margin-right: 0px;
  }

  .project {
    flex-direction: column;
  }

  .project-description,
  .project-image {
    flex-basis: 100%;
  }

  .project-image {
    margin-top: 1em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .project-image img {
    max-width: 100%;
  }

  .title-pink,
  .title-purple,
  .title-blue,
  .title-yellow,
  .title-orange {
    font-size: 1.6em;
    line-height: 1.4em;
  }

  .h1bold {
    font-size: 1.7em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 680px) {
  .image-plus img {
    padding-left: 0;
    margin-left: 0;
  }

  .plus-description-right {
    padding-left: 0px;
  }

  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12,
  .col13,
  .col14,
  .col15 {
    width: 100%;
  }

  .fit-cover {
    object-fit: cover;
    height: auto;
    transform: translateX(0);
  }

  .plus-description {
    padding-left: 0;
    margin-left: 0;
  }
  footer .pattent {
    display: none;
    color: transparent;
  }

  footer {
    justify-content: center;
  }

  footer .contact {
    margin-left: 80px;
    justify-content: space-around;
  }

  .navbar li {
    padding: 0;
    margin: 0;
  }

  .navbar li a {
    letter-spacing: 0;
    font-size: 0.9em;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1em;
  }

  .project-meta {
    font-size: 0.9em;
  }

  p {
    font-size: 0.9em;
    line-height: 1.45em;
  }

  code {
    font-size: 0.9em;
  }

  .title-pink,
  .title-purple,
  .title-blue,
  .title-yellow,
  .title-orange {
    font-size: 1.4em;
    line-height: 1.3em;
  }

  .h1bold {
    font-size: 1.5em;
    line-height: 1.3em;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 572px) {
  .name {
    display: none;
    color: transparent;
  }

  .col4 {
    width: 100%;
  }
  header {
    justify-content: center;
  }
  header .navbar {
    position: relative;
    justify-content: center;
    left: 0px;
    right: 0px;
  }

  .project,
  .project-description,
  .project-description p,
  .project-image img {
    margin-right: 0;
    padding-right: 0;
  }

  .project-description {
    width: 100%;
  }

  .project-image {
    width: 100%;
  }

  .project-image img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  #table-of-contents {
    transform: translateX(calc(100% - 12px));
  }
}

.active-nav-item {
  text-decoration: underline !important;
  text-decoration-color: var(--LINK-ACTIVE);
  text-decoration-thickness: 3px;
  color: var(--LINK-ACTIVE);
}

#lang-toggle {
  background-color: var(--LINK-ACTIVE);
  color: var(--MAIN-BACKGROUND);
  font-size: 0.8em;
  border: 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.clearstyle {
  text-decoration: none;
}
